# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
crash.log

# Terraform plan files
*.tfplan

# Ignore downloaded modules
**/.terraform/modules/

# Ignore override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore CLI config
.terraformrc
terraform.rc